@model IEnumerable<CategoryBaseVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["Success"]!= null)
{
    <p class="text-success">@TempData["Success"].ToString()</p>
}
else if (TempData["ErrorMessage"]!=null)
{
    <p class="text-danger">@TempData["ErrorMessage"].ToString()</p>
    <p class="text-danger">@TempData["ErrorType"].ToString()</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
