@model ResultService<FoodBaseVM>

@{
    ViewData["Title"] = "Index";    
}

<h1>Food List</h1>

@{
    if(ViewData["ErrorMessage"]!= null && ViewData["ErrorType"] != null)
    {
        string errorMessage = Model.ErrorItems.ToList()[0].ErrorMessage;
        string errorType = Model.ErrorItems.ToList()[0].ErrorType;
        <p class="text-danger">@errorType</p>
        <p class="text-danger">@errorMessage</p>
    }
    if (TempData["Success"] != null)
    {
        <p>@TempData["Success"].ToString()</p>
    }
    else if (TempData["Errors"] != null)
    {
        <p>@TempData["Errors"].ToString()</p>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FoodName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
